@using JRBAWebApplication2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<style>
    /* Style for Login Page */

    .login-container {
        position: relative;
        width: 100%; 
        max-width: 1440px; 
        height: 900px;
        background: white;
        left: 150px;
    }


    .background-image {
        width: 58%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px 0 0 12px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .login-box {
        width: 531px;
        height: 520px;
        position: absolute;
        left: 845px;
        top: 190px;
        background: white;
        border-radius: 12px;
        overflow: hidden;
        padding: 20px;
    }

    .login-heading {
        font-size: 32px;
        font-weight: 700;
        color: #171A1F;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            color: #424856;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Encode Sans';
            line-height: 22px;
        }

    .form-control {
        width: 100%;
        height: 35px;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid #DEE1E6;
        border-radius: 12px;
    }

    .form-check-input {
        margin-top: 5px;
    }

    .btn-primary {
        background: #025034;
        color: white;
        border: none;
        border-radius: 12px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }

    .sign-up-text {
        color: #171A1F;
        font-size: 14px;
        font-family: 'Encode Sans';
        font-weight: 400;
        line-height: 22px;
    }

    .sign-up-link {
        color: #025034;
    }

    .forgot-password {
        color: #025034;
        font-size: 14px;
        font-family: 'Encode Sans';
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;
        margin-top: 10px;
        display: block;
    }

    .or-separator {
        border-top: 1px solid #DEE1E6;
        text-align: center;
        margin: 20px 0;
        position: relative;
    }

    .or-text {
        background: white;
        padding: 0 10px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        color: #565D6D;
        font-size: 14px;
        font-family: 'Encode Sans';
        font-weight: 400;
    }

    .social-buttons {
        text-align: center;
    }

    .social-button {
        margin: 0 5px;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .logo {
        width: 189px;
        height: 106px;
        position: absolute;
        left: 1193px;
        top: 39px;
        border-radius: 12px;
    }
</style>

<div class="login-container">
    <img class="background-image" src="~/Images/RegPic.jpg" alt="Background Image">

    <div class="login-box">
        <h2 class="login-heading">Sign in</h2>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
        <p class="sign-up-text">Don't have an account? <a href="#" class="sign-up-link">Sign up</a></p>
        <a href="#" class="forgot-password">Forgot password?</a>

        <div class="or-separator">
            <span class="or-text">OR</span>
        </div>

        <div class="social-buttons">
            <button class="btn btn-secondary social-button"><i class="fa fa-facebook"></i></button>
            <button class="btn btn-secondary social-button"><i class="fa fa-twitter"></i></button>
            <button class="btn btn-secondary social-button"><i class="fa fa-google"></i></button>
        </div>
    </div>

    <img class="logo" src="~/Images/JRBA-LOGO.png" alt="Logo">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
