
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div style="width: 1199px; height: 831px; position: relative; background: white; box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12)">
    <div style="width: 439px; height: 214px; left: 38px; top: 496px; position: absolute; background: #F3F4F6; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 12px">
        <div style="padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 19px; left: 22px; top: 135px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: center; align-items: flex-end; gap: 22px; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Get Started</div>
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 6px; height: 12px; border: 2.06px #171A1F solid"></div>
                <div style="width: 17.14px; height: 0px; border: 2.06px #171A1F solid"></div>
            </div>
        </div>
        <div style="left: 22px; top: 81px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Finish setting up your security settings.</div>
        <div style="left: 22px; top: 24.50px; position: absolute; color: #171A1F; font-size: 29px; font-family: Epilogue; font-weight: 700; line-height: 44px; word-wrap: break-word">Security</div>
    </div>
    <div style="width: 439px; height: 214px; left: 720px; top: 34px; position: absolute; background: #F3F4F6; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 12px">
        <div style="padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 15px; left: 22px; top: 138px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: center; align-items: center; gap: 42px; display: inline-flex">
            <div style="color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Get Started</div>
            <div style="width: 20px; height: 20px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 5px; height: 10px; border: 1px #171A1F solid"></div>
                <div style="width: 15px; height: 0px; border: 1px #171A1F solid"></div>
            </div>
        </div>
        <div style="left: 22px; top: 23.50px; position: absolute; color: #171A1F; font-size: 29px; font-family: Epilogue; font-weight: 700; line-height: 44px; word-wrap: break-word">Educational Material</div>
        <div style="left: 22px; top: 82px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Check out all our educational content.</div>
    </div>
    <div style="width: 200px; height: 214px; left: 47px; top: 34px; position: absolute; background: #F3F4F6; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 12px">
        <div style="left: 45px; top: 54px; position: absolute; color: #171A1F; font-size: 44px; font-family: Epilogue; font-weight: 700; line-height: 62px; word-wrap: break-word">20:43</div>
        <div style="left: 30px; top: 115px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Thurday September 4</div>
    </div>
    <div style="width: 36px; height: 36px; left: 1116px; top: 780px; position: absolute">
        <div style="width: 28.67px; height: 28.80px; left: 3.66px; top: 3.60px; position: absolute; background: #1DD75B"></div>
        <div style="width: 14.50px; height: 13.45px; left: 10.81px; top: 11.28px; position: absolute; background: #1DD75B"></div>
    </div>
    <img style="width: 447px; height: 214px; left: 264px; top: 35px; position: absolute; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 12px" src="https://via.placeholder.com/447x214" />
    <img style="width: 664px; height: 215px; left: 38px; top: 264px; position: absolute; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 12px" src="https://via.placeholder.com/664x215" />
    <div style="width: 375px; height: 384px; left: 752px; top: 306px; position: absolute; background: white; box-shadow: 0px 4px 9px rgba(23, 26, 31, 0.19); border-radius: 18px; overflow: hidden">
        <div style="width: 12px; height: 12px; left: 343px; top: 20px; position: absolute">
            <div style="width: 1.50px; height: 5.10px; left: 1.80px; top: 5.40px; position: absolute; background: #025034"></div>
            <div style="width: 6.30px; height: 9.30px; left: 3.90px; top: 1.20px; position: absolute; background: #025034"></div>
        </div>
        <div style="left: 56px; top: 20px; position: absolute; color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Sally Rooney Do duis cul 😍</div>
        <div style="left: 56px; top: 42px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">17h</div>
        <div style="left: 86px; top: 42px; position: absolute; color: #025034; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">1 like</div>
        <div style="left: 121px; top: 42px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">Reply</div>
        <div style="width: 28px; height: 28px; left: 20px; top: 20px; position: absolute; background: #86FCD1; border-radius: 14px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 28px; height: 28px" src="https://via.placeholder.com/28x28" />
        </div>
        <div style="width: 28px; height: 28px; left: 20px; top: 92px; position: absolute; background: #86FCD1; border-radius: 14px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 28px; height: 28px" src="https://via.placeholder.com/28x28" />
        </div>
        <div style="width: 12px; height: 12px; left: 343px; top: 92px; position: absolute">
            <div style="width: 1.80px; height: 4.50px; left: 2.10px; top: 5.70px; position: absolute; border: 0.72px #9095A1 solid"></div>
            <div style="width: 6px; height: 8.70px; left: 3.90px; top: 1.50px; position: absolute; border: 0.72px #9095A1 solid"></div>
        </div>
        <div style="left: 56px; top: 92px; position: absolute"><span style="color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Jason Minim magna exc</span><span style="color: #323743; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word"> 😍</span></div>
        <div style="left: 56px; top: 114px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">48m</div>
        <div style="left: 90px; top: 114px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">1 like</div>
        <div style="left: 125px; top: 114px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">Reply</div>
        <div style="width: 20px; height: 20px; left: 56px; top: 140px; position: absolute; background: #86FCD1; border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 20px; height: 20px" src="https://via.placeholder.com/20x20" />
        </div>
        <div style="width: 12px; height: 12px; left: 343px; top: 140px; position: absolute">
            <div style="width: 1.80px; height: 4.50px; left: 2.10px; top: 5.70px; position: absolute; border: 0.72px #9095A1 solid"></div>
            <div style="width: 6px; height: 8.70px; left: 3.90px; top: 1.50px; position: absolute; border: 0.72px #9095A1 solid"></div>
        </div>
        <div style="width: 221px; left: 84px; top: 140px; position: absolute"><span style="color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Michael Key </span><span style="color: #379AE6; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word"> Jason Smitth </span><span style="color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Deserunt officia consectetur adipi</span></div>
        <div style="left: 84px; top: 182px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">40m</div>
        <div style="left: 118px; top: 182px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">2 like</div>
        <div style="left: 154px; top: 182px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">Reply</div>
        <div style="width: 28px; height: 28px; left: 20px; top: 232px; position: absolute; background: #86FCD1; border-radius: 14px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 28px; height: 28px" src="https://via.placeholder.com/28x28" />
        </div>
        <div style="width: 12px; height: 12px; left: 343px; top: 232px; position: absolute">
            <div style="width: 1.80px; height: 4.50px; left: 2.10px; top: 5.70px; position: absolute; border: 0.72px #9095A1 solid"></div>
            <div style="width: 6px; height: 8.70px; left: 3.90px; top: 1.50px; position: absolute; border: 0.72px #9095A1 solid"></div>
        </div>
        <div style="left: 56px; top: 232px; position: absolute; color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Liam Pham Commodo 🔥</div>
        <div style="left: 56px; top: 254px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">48m</div>
        <div style="left: 90px; top: 254px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">1 like</div>
        <div style="left: 125px; top: 254px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">Reply</div>
        <div style="width: 20px; height: 20px; left: 56px; top: 280px; position: absolute; background: #86FCD1; border-radius: 10px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 20px; height: 20px" src="https://via.placeholder.com/20x20" />
        </div>
        <div style="width: 12px; height: 12px; left: 343px; top: 280px; position: absolute">
            <div style="width: 1.80px; height: 4.50px; left: 2.10px; top: 5.70px; position: absolute; border: 0.72px #9095A1 solid"></div>
            <div style="width: 6px; height: 8.70px; left: 3.90px; top: 1.50px; position: absolute; border: 0.72px #9095A1 solid"></div>
        </div>
        <div style="width: 221px; left: 84px; top: 280px; position: absolute; color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 500; line-height: 20px; word-wrap: break-word">Kiran Glaucus Esse consequat cillum ex</div>
        <div style="left: 84px; top: 322px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">40m</div>
        <div style="left: 118px; top: 322px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">2 like</div>
        <div style="left: 154px; top: 322px; position: absolute; color: #9095A1; font-size: 8px; font-family: Encode Sans; font-weight: 400; line-height: 14px; word-wrap: break-word">Reply</div>
        <div style="left: 56px; top: 348px; position: absolute; color: #379AE6; font-size: 10px; font-family: Encode Sans; font-weight: 400; line-height: 16px; word-wrap: break-word">View 10 more replies</div>
    </div>
</div>