
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dash</h2>

<div style="width: 1267px; height: 1018px; position: relative; background: white; box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12)">
    <div style="left: 81px; top: 702px; position: absolute; color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Recent Orders</div>
    <div style="width: 324px; height: 562px; left: 881px; top: 108px; position: absolute; background: white; border-radius: 12px; border: 1px #F3F4F6 solid">
        <div style="left: 20px; top: 22px; position: absolute; color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Activities</div>
        <div style="width: 284px; height: 86px; left: 20px; top: 64px; position: absolute; background: #FAFAFB; border-radius: 24px">
            <div style="width: 44px; height: 44px; left: 16px; top: 21px; position: absolute; background: #B3DCF6; border-radius: 22px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <img style="width: 44px; height: 44px" src="https://via.placeholder.com/44x44" />
            </div>
            <div style="left: 76px; top: 12px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Kathryn Murphy</div>
            <div style="width: 192px; left: 76px; top: 34px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">In eu do do cillum lorem exercitation ea dolor.</div>
        </div>
        <div style="width: 95px; height: 31px; left: 208px; top: 20px; position: absolute; background: #F3F4F6; border-radius: 9px">
            <div style="left: 24px; top: 6px; position: absolute; color: #171A1F; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Monthly</div>
            <div style="width: 12px; height: 12px; left: 8px; top: 10px; position: absolute">
                <div style="width: 0px; height: 1.71px; left: 3px; top: 1.29px; position: absolute; border: 0.86px #171A1F solid"></div>
                <div style="width: 0px; height: 1.71px; left: 9px; top: 1.29px; position: absolute; border: 0.86px #171A1F solid"></div>
                <div style="width: 6px; height: 0px; left: 3px; top: 5.57px; position: absolute; border: 0.86px #171A1F solid"></div>
                <div style="width: 9.43px; height: 7.71px; left: 1.29px; top: 3px; position: absolute; border: 0.86px #171A1F solid"></div>
            </div>
            <div style="width: 12px; height: 12px; left: 76px; top: 10px; position: absolute">
                <div style="width: 9px; height: 5.30px; left: 1.50px; top: 3.50px; position: absolute; background: #171A1F"></div>
            </div>
        </div>
        <div style="width: 284px; height: 86px; left: 20px; top: 162px; position: absolute; background: #FAFAFB; border-radius: 24px">
            <div style="width: 44px; height: 44px; left: 16px; top: 21px; position: absolute; background: #86FCD1; border-radius: 22px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <img style="width: 44px; height: 44px" src="https://via.placeholder.com/44x44" />
            </div>
            <div style="left: 76px; top: 12px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">James Harrid</div>
            <div style="width: 192px; left: 76px; top: 34px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Deserunt minim indidunt cillum nostrudo voluptate excepteur.</div>
        </div>
        <div style="width: 284px; height: 86px; left: 20px; top: 260px; position: absolute; background: #FAFAFB; border-radius: 24px">
            <div style="width: 44px; height: 44px; left: 16px; top: 21px; position: absolute; background: #C4EDF5; border-radius: 22px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <img style="width: 44px; height: 44px" src="https://via.placeholder.com/44x44" />
            </div>
            <div style="left: 76px; top: 12px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Elon Melon</div>
            <div style="width: 192px; left: 76px; top: 34px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Mollit consectetur occaecat et ad adipisicing ex deserunt fugiat.</div>
        </div>
        <div style="width: 284px; height: 86px; left: 20px; top: 358px; position: absolute; background: #FAFAFB; border-radius: 24px">
            <div style="width: 44px; height: 44px; left: 16px; top: 21px; position: absolute; background: #B1BAE4; border-radius: 22px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <img style="width: 44px; height: 44px" src="https://via.placeholder.com/44x44" />
            </div>
            <div style="left: 76px; top: 12px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Mia Smith</div>
            <div style="width: 192px; left: 76px; top: 34px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Cupidatat eiusmod tempor labore amet amet proident duis.</div>
        </div>
        <div style="width: 284px; height: 86px; left: 20px; top: 456px; position: absolute; background: #FAFAFB; border-radius: 24px">
            <div style="width: 44px; height: 44px; left: 16px; top: 21px; position: absolute; background: #86FCD1; border-radius: 22px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <img style="width: 44px; height: 44px" src="https://via.placeholder.com/44x44" />
            </div>
            <div style="left: 76px; top: 12px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">James Doe</div>
            <div style="width: 192px; left: 76px; top: 34px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Duis excepteur enim enim dolore aliqua officia nisi labore ipsum.</div>
        </div>
    </div>
    <div style="width: 244px; height: 128px; left: 81px; top: 108px; position: absolute; background: #F1F9FD; border-radius: 18px">
        <div style="left: 16px; top: 12px; position: absolute; color: #323743; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Data label</div>
        <div style="left: 16px; top: 46px; position: absolute; color: #323743; font-size: 32px; font-family: Encode Sans; font-weight: 600; line-height: 48px; word-wrap: break-word">6,452</div>
        <div style="width: 12px; height: 12px; left: 16px; top: 99px; position: absolute">
            <div style="width: 9px; height: 4.50px; left: 1.50px; top: 4px; position: absolute; background: #17A948"></div>
        </div>
        <div style="left: 32px; top: 94px; position: absolute; color: #14923E; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">5.39%</div>
    </div>
    <div style="padding-top: 7px; padding-bottom: 7px; padding-left: 12px; padding-right: 17px; left: 1117px; top: 34px; position: absolute; background: #025034; border-radius: 9px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
        <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 12px; height: 13.28px; background: white"></div>
        </div>
        <div style="color: white; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word"> Share</div>
    </div>
    <div style="left: 86px; top: 28px; position: absolute; color: #171A1F; font-size: 32px; font-family: Encode Sans; font-weight: 400; line-height: 48px; word-wrap: break-word">Dashboard</div>
    <div style="padding-top: 7px; padding-bottom: 7px; padding-left: 12px; padding-right: 29px; left: 929px; top: 34px; position: absolute; background: #F3F4F6; border-radius: 9px; overflow: hidden; justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
        <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 0px; height: 10.40px; border: 0.80px #565D6D solid"></div>
            <div style="width: 10.40px; height: 0px; border: 0.80px #565D6D solid"></div>
        </div>
        <div style="color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word"> Create new project</div>
    </div>
    <div style="width: 244px; height: 128px; left: 345px; top: 108px; position: absolute; background: #F3F5FB; border-radius: 18px">
        <div style="left: 16px; top: 12px; position: absolute; color: #323743; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Data label</div>
        <div style="left: 16px; top: 46px; position: absolute; color: #323743; font-size: 32px; font-family: Encode Sans; font-weight: 600; line-height: 48px; word-wrap: break-word">42,502</div>
        <div style="width: 12px; height: 12px; left: 28px; top: 111px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
            <div style="width: 9px; height: 4.50px; left: 1.50px; top: 4px; position: absolute; background: #DE3B40"></div>
        </div>
        <div style="left: 32px; top: 94px; position: absolute; color: #DE3B40; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">0.65%</div>
    </div>
    <div style="width: 244px; height: 128px; left: 609px; top: 108px; position: absolute; background: #F2FBFD; border-radius: 18px">
        <div style="left: 16px; top: 12px; position: absolute; color: #323743; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Data label</div>
        <div style="left: 16px; top: 46px; position: absolute; color: #323743; font-size: 32px; font-family: Encode Sans; font-weight: 600; line-height: 48px; word-wrap: break-word">56,201</div>
        <div style="width: 12px; height: 12px; left: 16px; top: 99px; position: absolute">
            <div style="width: 9px; height: 4.50px; left: 1.50px; top: 4px; position: absolute; background: #17A948"></div>
        </div>
        <div style="left: 32px; top: 94px; position: absolute; color: #14923E; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">2.29%</div>
    </div>
    <div style="width: 772px; height: 402px; left: 81px; top: 268px; position: absolute; background: white; border-radius: 12px; border: 1px #F3F4F6 solid">
        <div style="left: 24px; top: 28px; position: absolute; color: #323743; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Statistics</div>
        <div style="width: 49px; left: 24px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">1</div>
        <div style="width: 49px; left: 85px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">2</div>
        <div style="width: 49px; left: 147px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">3</div>
        <div style="width: 49px; left: 208px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">4</div>
        <div style="width: 49px; left: 269px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">5</div>
        <div style="width: 49px; left: 331px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">6</div>
        <div style="width: 49px; left: 392px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">7</div>
        <div style="width: 49px; left: 453px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">8</div>
        <div style="width: 49px; left: 515px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">9</div>
        <div style="width: 49px; left: 576px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">10</div>
        <div style="width: 49px; left: 637px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">11</div>
        <div style="width: 49px; left: 699px; top: 356px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">12</div>
        <div style="padding-top: 7px; padding-bottom: 6px; padding-left: 12px; padding-right: 11px; left: 670px; top: 24px; position: absolute; background: #F3F4F6; border-radius: 18px; justify-content: center; align-items: center; gap: 14px; display: inline-flex">
            <div style="color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">2022</div>
            <div style="width: 14px; height: 14px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 10.50px; height: 6.19px; background: #171A1F"></div>
            </div>
        </div>
        <div style="width: 724px; height: 252px; left: 24px; top: 88px; position: absolute">
            <div style="width: 724px; height: 194px; left: 0px; top: 58px; position: absolute">
                <div style="width: 40.22px; height: 46.73px; left: 0px; top: 147.27px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 27.10px; left: 0px; top: 120.17px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 51.84px; left: 0px; top: 68.33px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 61.26px; left: 62.16px; top: 132.74px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 21.02px; left: 62.16px; top: 111.72px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 72.07px; left: 62.16px; top: 39.64px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 21.69px; left: 124.32px; top: 172.31px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 51.16px; left: 124.32px; top: 121.15px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 21.28px; left: 124.32px; top: 99.86px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 70.45px; left: 186.48px; top: 123.55px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 19.51px; left: 186.48px; top: 104.04px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 70.45px; left: 186.48px; top: 33.60px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 46.90px; left: 248.65px; top: 147.10px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 30.11px; left: 248.65px; top: 116.99px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 53.81px; left: 248.65px; top: 63.19px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 25.84px; left: 310.81px; top: 168.16px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 58.47px; left: 310.81px; top: 109.69px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 48.50px; left: 310.81px; top: 61.19px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 107.26px; left: 372.97px; top: 86.74px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 45.70px; left: 372.97px; top: 41.04px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 41.04px; left: 372.97px; top: 0px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 36.65px; left: 435.13px; top: 157.35px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 31.76px; left: 435.13px; top: 125.59px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 49.36px; left: 435.13px; top: 76.23px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 60.22px; left: 497.29px; top: 133.78px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 37.24px; left: 497.29px; top: 96.54px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 29.88px; left: 497.29px; top: 66.66px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 13.55px; left: 559.45px; top: 180.45px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 31.46px; left: 559.45px; top: 149px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 20.10px; left: 559.45px; top: 128.90px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 19.24px; left: 621.62px; top: 174.76px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 64.13px; left: 621.62px; top: 110.63px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 63.06px; left: 621.62px; top: 47.56px; position: absolute; background: #232F67"></div>
                <div style="width: 40.22px; height: 38.03px; left: 683.78px; top: 155.97px; position: absolute; background: #025034"></div>
                <div style="width: 40.22px; height: 27.78px; left: 683.78px; top: 128.19px; position: absolute; background: #187FBF"></div>
                <div style="width: 40.22px; height: 50px; left: 683.78px; top: 78.20px; position: absolute; background: #232F67"></div>
            </div>
            <div style="width: 282px; height: 22px; left: 218px; top: 0px; position: absolute">
                <div style="width: 81px; height: 22px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #025034; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Sit laborum</div>
                </div>
                <div style="width: 84px; height: 22px; left: 110px; top: 0px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #187FBF; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Veniam don</div>
                </div>
                <div style="width: 58px; height: 22px; left: 224px; top: 0px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #232F67; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Label 3</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 332px; height: 288px; left: 873px; top: 702px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #F3F4F6 solid">
        <div style="left: 24px; top: 54px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">From 1-15 June, 2022</div>
        <div style="left: 24px; top: 24px; position: absolute; color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Statistics</div>
        <div style="width: 275px; left: 24px; top: 100px; position: absolute">
            <div style="width: 163px; height: 163px; left: 0px; top: 0px; position: absolute">
                <div style="width: 163px; height: 163px; left: 0px; top: 0px; position: absolute; background: #379AE6; border-radius: 9999px"></div>
                <div style="width: 163px; height: 163px; left: 0px; top: 0px; position: absolute; background: #1DD75B; border-radius: 9999px"></div>
                <div style="width: 163px; height: 163px; left: 0px; top: 0px; position: absolute; background: #EFB034; border-radius: 9999px"></div>
            </div>
            <div style="width: 79px; height: 98px; left: 196px; top: 32.50px; position: absolute">
                <div style="width: 79px; height: 22px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #379AE6; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Segment A</div>
                </div>
                <div style="width: 79px; height: 22px; left: 0px; top: 38px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #1DD75B; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Segment B</div>
                </div>
                <div style="width: 78px; height: 22px; left: 0px; top: 76px; position: absolute">
                    <div style="width: 16px; height: 16px; left: 0px; top: 3px; position: absolute; background: #EFB034; border-radius: 9999px"></div>
                    <div style="left: 20px; top: 0px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Segment C</div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 764px; height: 243.99px; left: 81px; top: 746px; position: absolute; background: rgba(0, 0, 0, 0)">
        <div style="height: 243.99px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #F3F4F6 solid; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="width: 764px; height: 50.73px; background: #FAFAFB"></div>
            <div style="width: 764px; height: 0px; border: 1px #F3F4F6 solid"></div>
            <div style="width: 764px; height: 64.42px; background: white"></div>
            <div style="width: 764px; height: 64.42px; background: white"></div>
            <div style="width: 764px; height: 64.42px; background: white"></div>
        </div>
        <div style="width: 764px; height: 50.73px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14.36px; padding-bottom: 14.36px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Items</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14.36px; padding-bottom: 14.36px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Date</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14.36px; padding-bottom: 14.36px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Price</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14.36px; padding-bottom: 14.36px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Payment</div>
            </div>
            <div style="width: 105.60px; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 14.36px; padding-bottom: 14.36px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 81.60px; color: #565D6D; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Status</div>
            </div>
        </div>
        <div style="width: 764px; height: 64.42px; left: 0px; top: 50.73px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Consequat</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">02/08/2023</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">$473.18</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 20.21px; padding-bottom: 20.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 17.59px; height: 13.41px; background: #117B34"></div>
                </div>
                <div style="width: 112.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Transfered</div>
            </div>
            <div style="width: 105.60px; align-self: stretch; padding-top: 18.21px; padding-bottom: 18.21px; padding-left: 12px; padding-right: 20.60px; background: rgba(0, 0, 0, 0); justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 16px; background: #EEFDF3; border-radius: 14px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div style="color: #117B34; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Completed</div>
                </div>
            </div>
        </div>
        <div style="width: 764px; height: 64.42px; left: 0px; top: 115.15px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Reprehende</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">01/09/2023</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">$665.86</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 20.21px; padding-bottom: 20.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 17.59px; height: 13.41px; background: #117B34"></div>
                </div>
                <div style="width: 112.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Transfered</div>
            </div>
            <div style="width: 105.60px; align-self: stretch; padding-top: 18.21px; padding-bottom: 18.21px; padding-left: 12px; padding-right: 20.60px; background: rgba(0, 0, 0, 0); justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 16px; background: #EEFDF3; border-radius: 14px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div style="color: #117B34; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Completed</div>
                </div>
            </div>
        </div>
        <div style="width: 764px; height: 64.42px; left: 0px; top: 179.57px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 700; line-height: 22px; word-wrap: break-word">Labore</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">15/12/2023</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 21.21px; padding-bottom: 21.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 140.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">$322.23</div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 20.21px; padding-bottom: 20.21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; gap: 4px; display: inline-flex">
                <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 17.59px; height: 13.41px; background: #117B34"></div>
                </div>
                <div style="width: 112.60px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Transfered</div>
            </div>
            <div style="width: 105.60px; align-self: stretch; padding-top: 18.21px; padding-bottom: 18.21px; padding-left: 12px; padding-right: 20.60px; background: rgba(0, 0, 0, 0); justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; align-self: stretch; padding-top: 4px; padding-bottom: 4px; padding-left: 8px; padding-right: 16px; background: #EEFDF3; border-radius: 14px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div style="color: #117B34; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Completed</div>
                </div>
            </div>
        </div>
    </div>
</div>