@using JRBAWebApplication2.Models
@{
    ViewBag.Title = "Estimations";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <style>
        

        h2 {
            text-align: center;
            color: #333;
        }

        .form-container {
            margin: 20px; /* Center the div horizontally */
            max-width: 600px; /* Set a maximum width for the div */
            text-align: center;
        }

        .estimation-form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            margin-bottom: 15px;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

            button:hover {
                background-color: #45a049;
            }

        .amount {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div class="form-container" >
            <h2>Estimations</h2>
            @using (Html.BeginForm("Estimations", "Home", FormMethod.Post, new { @class = "estimation-form" }))
            {
                <div class="form-group">
                    <input name="SiteName" type="text" placeholder="Site Name">
                </div>

                <div class="form-group">
                    <input name="Description" type="text" placeholder="Purpose">
                </div>

                <div class="form-group">
                    <select name="CropSelection">
                        <option value="Crop">Crop</option>
                        <option value="Sugar Cane">Sugar Cane</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="BasinSelection">
                        <option selected value="basin">Basin</option>
                        <option value="Komati">Komati</option>
                        <option value="Lomati">Lomati</option>
                        <option value="Ngwavuma">Ngwavuma</option>
                        <option value="Usuthu">Usuthu</option>
                        <option value="Malkerns">Malkerns</option>
                    </select>
                </div>

                <div class="form-group">
                    <input name="cropSize" type="number" placeholder="6">
                </div>

                <div class="amount">@ViewBag.EstimatedAmount</div>
                <button type="submit">Calculate</button>
            }
        </div>
    </div>
</body>


</html>
