@using JRBAWebApplication2.Models
@{
    ViewBag.Title = "Estimations";
}

<h2>Estimations</h2>
@using (Html.BeginForm("Estimations", "Home", FormMethod.Post))
{
    <div style="width: 979px; height: 793px; position: relative; background: white ">
        <div style="width: 439px; height: 696px; left: 494px; top: 37px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">


            <button style="padding-top: 9px; padding-bottom: 9px; padding-left: 16px; padding-right: 40px; left: 22.69px; top: 451px; position: absolute; background: #DE3B40; border-radius: 12px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex; color: white; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Delete selected estimates</button>

            <div style="left: 22.69px; top: 24px; position: absolute; color: #171A1F; font-size: 28px; font-family: Epilogue; font-weight: 700; line-height: 42px; word-wrap: break-word">Previous Estimations</div>
            <div style="left: 22.69px; top: 80.50px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">View your previous estimates here</div>
            <div style="left: 22px; top: 527px; position: absolute; color: #171A1F; font-size: 20px; font-family: Epilogue; font-weight: 700; line-height: 30px; word-wrap: break-word">Data Backups</div>
            <div style="left: 22.69px; top: 163.50px; position: absolute; color: #171A1F; font-size: 20px; font-family: Epilogue; font-weight: 700; line-height: 30px; word-wrap: break-word">Security</div>
            <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                <table style="margin: auto;">
                    <tr>
                        <th>Site name</th>
                        <th>Basin</th>
                        <th>Crop</th>
                        <th>Size</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                    </tr>
                </table>
            </div>

            <div style="width: 372px; height: 100px; left: 22px; top: 572px; position: absolute">

                <div style="width: 372px; height: 22px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; gap: 6px; display: inline-flex">
                    <div style="width: 350px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Encrypt Backup</div>
                    <div style="width: 16px; height: 16px; background: white; border-radius: 4px; border: 1px #6F7787 solid; cursor: pointer;" onclick="this.style.background = (this.style.background === 'green' ? 'white' : 'green')"></div>
                </div>

                <div style="width: 372px; height: 22px; left: 0px; top: 39px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; gap: 6px; display: inline-flex">
                    <div style="width: 350px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Create duplicates</div>
                    <div style="width: 16px; height: 16px; background: white; border-radius: 4px; border: 1px #6F7787 solid; cursor: pointer;" onclick="this.style.background = (this.style.background === 'green' ? 'white' : 'green')"></div>
                </div>

                <div style="width: 372px; height: 22px; left: 0px; top: 78px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; gap: 6px; display: inline-flex">
                    <div style="width: 350px; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Auto backup</div>
                    <div style="width: 16px; height: 16px; background: white; border-radius: 4px; border: 1px #6F7787 solid; cursor: pointer;" onclick="this.style.background = (this.style.background === 'green' ? 'white' : 'green')"></div>
                </div>
            </div>
        </div>
        <div style="width: 44.50px; height: 25px; left: 399px; top: 668px; position: absolute">
            <div style="width: 44px; height: 14.40px; left: 0.50px; top: 5.30px; position: absolute; background: #BDC1CA; border-radius: 7.20px"></div>
            <div style="width: 25px; height: 25px; left: 0px; top: 0px; position: absolute; background: #9095A1; border-radius: 9999px"></div>
        </div>
        <div style="width: 44.50px; height: 25px; left: 399px; top: 628px; position: absolute">
            <div style="width: 44px; height: 14.40px; left: 0px; top: 5.30px; position: absolute; background: #86FCD1; border-radius: 7.20px"></div>
            <div style="width: 25px; height: 25px; left: 19.50px; top: 0px; position: absolute; background: #025034; border-radius: 9999px"></div>
        </div>


        <button style="width: 163px; height: 45px; padding-top: 9px; padding-bottom: 9px; padding-left: 65px; padding-right: 69px; left: 58px; top: 726px; position: absolute; background: #187FBF; border-radius: 12px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex; border: none;">
            <div style="color: white; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Save</div>
        </button>

        <button type="submit"  style="width: 163px;  padding-top: 9px; padding-bottom: 9px; padding-left: 50px; padding-right: 58px; left: 155px; top: 484px; position: absolute; background: #025034; border-radius: 12px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex; color: white; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Calculate</button>

        <div style="margin-top: 10px; padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 15px; left: 58px; top: 302px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: center; align-items: center; gap: 322px; display: inline-flex">
            <select name="CropSelection" style="background: rgba(0,0,0,0); border: none; color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; margin: 0; padding: 0;">
                <option value="Crop">Crop</option>
                <option value="Sugar Cane">Sugar Cane</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div style="width: 401px; padding: 9px 16px 8px 16px; position: absolute; left: 58px; top: 417px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; display: flex;">
            <input type="text" style="color: #171A1F; width: 100%; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; border: none; background: transparent; outline: none;" placeholder="Purpose">
        </div>

        <div style="padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 15px; left: 283px; top: 243px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: center; align-items: center; gap: 89px; display: inline-flex">
            <select name="BasinSelection" style="color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word; border: none; background-color: white; -webkit-appearance: none;">
                <option selected value="basin">Basin</option>
                <option value="Komati">Komati</option>
                <option value="Lomati">Lomati</option>
                <option value="Ngwavuma">Ngwavuma</option>
                <option value="Usuthu">Usuthu</option>
                <option value="Malkerns">Malkerns</option>
            </select>
        </div>

        <div style="width: 211px; padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 132px; left: 58px; top: 241px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <input type="text" style="color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word; width:100%; border:none; background-color:transparent;" placeholder="Site Name"></input>
        </div>

        <button style="width: 163px; padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 108px; left: 237px; top: 726px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">Cancel</div>
        </button>

        <div style="padding-top: 9px; padding-bottom: 8px; padding-left: 16px; padding-right: 15px; left: 106px; top: 363px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: center; align-items: center; gap: 113px; display: inline-flex">
            <input name="cropSize" type="number" placeholder="138" style="color: #171A1F; font-size: 16px; border:none; font-family: Encode Sans; font-weight: 400; line-height: 26px; word-wrap: break-word">
        </div>
        
        <div style="left: 138px; top: 547px; position: absolute; color: #171A1F; font-size: 30px; font-family: Epilogue; font-weight: 700; line-height: 46px; word-wrap: break-word">@ViewBag.EstimatedAmount</div>

        <div style="left: 46px; top: 669px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Download Permit application form</div>
        <div style="left: 58px; top: 57px; position: absolute; color: #171A1F; font-size: 28px; font-family: Epilogue; font-weight: 700; line-height: 42px; word-wrap: break-word">Estimations</div>
        <div style="left: 46px; top: 629px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Download Permit Info sheet</div>
        <div style="left: 58px; top: 114px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Fill down your info.</div>
        <div style="left: 58px; top: 192px; position: absolute; color: #171A1F; font-size: 22px; font-family: Epilogue; font-weight: 700; line-height: 34px; word-wrap: break-word">Site Info</div>
        <div style="left: 58px; top: 371px; position: absolute; color: #171A1F; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Size:</div>
    </div>
}