
@{
    ViewBag.Title = "Material";
}

<h2>Material</h2>

<div style="width: 1725px; height: 1288px; position: relative; background: white; box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12)">
    <div style="width: 320px; height: 1235px; left: 1356px; top: 12px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15)">
        <div style="width: 36px; height: 36px; padding: 7px; left: 24px; top: 24px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 0px; height: 16.50px; border: 1.10px #9095A1 solid"></div>
                <div style="width: 4.95px; height: 9.90px; border: 1.10px #9095A1 solid"></div>
                <div style="width: 12.10px; height: 0px; border: 1.10px #9095A1 solid"></div>
            </div>
        </div>
        <div style="width: 36px; height: 36px; padding: 7px; left: 60px; top: 24px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 15.12px; height: 15.12px; background: #9095A1"></div>
            </div>
        </div>
        <div style="width: 36px; height: 36px; padding: 7px; left: 260px; top: 24px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 12px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 3.67px; height: 14.67px; background: #9095A1"></div>
            </div>
        </div>
        <div style="width: 320px; height: 0px; left: 0px; top: 84px; position: absolute; border: 1px #DEE1E6 solid"></div>
        <div style="width: 320px; height: 0px; left: 0px; top: 366px; position: absolute; border: 1px #F3F4F6 solid"></div>
        <div style="left: 24px; top: 113px; position: absolute; color: #171A1F; font-size: 16px; font-family: Encode Sans; font-weight: 700; line-height: 26px; word-wrap: break-word">Storage</div>
        <div style="width: 240px; height: 120px; left: 40px; top: 163px; position: absolute">
            <div style="width: 240px; height: 120px; left: 0px; top: 0px; position: absolute">
                <div style="width: 240px; height: 120px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 240px; height: 120px; left: 0px; top: 0px; position: absolute; background: #F3F4F6"></div>
                    <div style="width: 180.46px; height: 120px; left: 0px; top: 0px; position: absolute; background: #187FBF"></div>
                </div>
            </div>
        </div>
        <div style="left: 119px; top: 261px; position: absolute; text-align: center; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">used of 2 TB</div>
        <div style="left: 112px; top: 225px; position: absolute; text-align: center; color: #323743; font-size: 24px; font-family: Encode Sans; font-weight: 700; line-height: 36px; word-wrap: break-word">1500 GB</div>
        <div style="width: 209px; left: 55px; top: 312px; position: absolute; color: #197DCA; font-size: 14px; font-family: Encode Sans; font-weight: 400; text-decoration: underline; line-height: 22px; word-wrap: break-word">Upgrade storage for more space</div>
        <div style="width: 121px; height: 48px; left: 24px; top: 378px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
            <div style="width: 56px; align-self: stretch; padding-top: 14px; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: inline-flex">
                <div style="color: #000B26; font-size: 12px; font-family: Encode Sans; font-weight: 700; line-height: 20px; word-wrap: break-word">Details</div>
                <div style="width: 56px; height: 4px; background: #000B26"></div>
            </div>
            <div style="flex: 1 1 0; align-self: stretch; padding-top: 14px; padding-bottom: 14px; padding-left: 8px; padding-right: 15px; background: rgba(0, 0, 0, 0); justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Activities</div>
            </div>
        </div>
        <div style="width: 48px; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 13px; padding-right: 11px; left: 24px; top: 450px; position: absolute; background: #E9FEF7; border-radius: 12px; border: 1px #FAFAFB solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 5.14px; height: 5.14px; background: #025034"></div>
                <div style="width: 5.14px; height: 5.14px; border: 2.06px #025034 solid"></div>
                <div style="width: 15.43px; height: 18.86px; border: 2.06px #025034 solid"></div>
                <div style="width: 3.43px; height: 0px; border: 2.06px #025034 solid"></div>
                <div style="width: 8.57px; height: 0px; border: 2.06px #025034 solid"></div>
                <div style="width: 8.57px; height: 0px; border: 2.06px #025034 solid"></div>
            </div>
        </div>
        <div style="left: 84px; top: 450px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 600; line-height: 22px; word-wrap: break-word">Documents</div>
        <div style="left: 84px; top: 476px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">223 files</div>
        <div style="left: 239px; top: 450px; position: absolute; text-align: right; color: #197DCA; font-size: 16px; font-family: Encode Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">760 GB</div>
        <div style="width: 48px; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 13px; padding-right: 11px; left: 24px; top: 514px; position: absolute; background: #FEF9EE; border-radius: 12px; border: 1px #FAFAFB solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 18.86px; height: 13.71px; border: 2.06px #EFB034 solid"></div>
                <div style="width: 5.14px; height: 6.86px; border: 2.06px #EFB034 solid"></div>
                <div style="width: 10.29px; height: 0px; border: 2.06px #EFB034 solid"></div>
            </div>
        </div>
        <div style="left: 84px; top: 514px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 600; line-height: 22px; word-wrap: break-word">Videos</div>
        <div style="left: 84px; top: 540px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">46 files</div>
        <div style="left: 238px; top: 514px; position: absolute; text-align: right; color: #197DCA; font-size: 16px; font-family: Encode Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">500 GB</div>
        <div style="width: 48px; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 13px; padding-right: 11px; left: 24px; top: 578px; position: absolute; background: #F8F9FA; border-radius: 12px; border: 1px #FAFAFB solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 18.86px; height: 15.43px; border: 2.06px #424856 solid"></div>
                <div style="width: 3.43px; height: 3.43px; border: 2.06px #424856 solid"></div>
                <div style="width: 18.86px; height: 8.57px; border: 2.06px #424856 solid"></div>
            </div>
        </div>
        <div style="left: 84px; top: 578px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 600; line-height: 22px; word-wrap: break-word">Images</div>
        <div style="left: 84px; top: 604px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">472 files</div>
        <div style="left: 239px; top: 578px; position: absolute; text-align: right; color: #197DCA; font-size: 16px; font-family: Encode Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">360 GB</div>
        <div style="width: 48px; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 13px; padding-right: 11px; left: 24px; top: 642px; position: absolute; background: #FDF2F2; border-radius: 12px; border: 1px #FAFAFB solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 4.80px; height: 4.80px; border: 1.44px #DE3B40 solid"></div>
                <div style="width: 14.40px; height: 7.20px; border: 1.44px #DE3B40 solid"></div>
                <div style="width: 18px; height: 8.40px; border: 1.44px #DE3B40 solid"></div>
                <div style="width: 2.49px; height: 3.43px; background: #DE3B40"></div>
                <div style="width: 2.91px; height: 3.43px; background: #DE3B40"></div>
                <div style="width: 2.03px; height: 3.43px; background: #DE3B40"></div>
                <div style="width: 14.40px; height: 2.40px; border: 1.44px #DE3B40 solid"></div>
            </div>
        </div>
        <div style="left: 84px; top: 642px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 600; line-height: 22px; word-wrap: break-word">PDF</div>
        <div style="left: 84px; top: 668px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">96 files</div>
        <div style="left: 238px; top: 642px; position: absolute; text-align: right; color: #197DCA; font-size: 16px; font-family: Encode Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">300 GB</div>
        <div style="width: 48px; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 13px; padding-right: 11px; left: 24px; top: 706px; position: absolute; background: #EEFDF3; border-radius: 12px; border: 1px #FAFAFB solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 15.43px; height: 18.86px; border: 2.06px #14923E solid"></div>
                <div style="width: 1.71px; height: 1.71px; background: #14923E"></div>
                <div style="width: 0px; height: 5.14px; border: 2.06px #14923E solid"></div>
            </div>
        </div>
        <div style="left: 84px; top: 706px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 600; line-height: 22px; word-wrap: break-word">Unknown files</div>
        <div style="left: 84px; top: 732px; position: absolute; color: #9095A1; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">123 files</div>
        <div style="left: 239px; top: 706px; position: absolute; text-align: right; color: #197DCA; font-size: 16px; font-family: Encode Sans; font-weight: 600; line-height: 26px; word-wrap: break-word">240 GB</div>
    </div>
    <div style="width: 403px; height: 64px; left: 24px; top: 28px; position: absolute; background: rgba(0, 0, 0, 0); justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; padding-top: 14px; padding-bottom: 14px; padding-left: 20px; padding-right: 21px; background: rgba(0, 0, 0, 0); justify-content: center; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 24px; font-family: Encode Sans; font-weight: 700; line-height: 36px; word-wrap: break-word">Educational Material 2023</div>
        </div>
        <div style="width: 64px; align-self: stretch; padding-top: 14px; padding-bottom: 14px; padding-left: 20px; padding-right: 12px; background: rgba(0, 0, 0, 0); justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 18px; height: 10.61px; background: #565D6D"></div>
            </div>
            <div></div>
        </div>
    </div>
    <div style="width: 36px; height: 36px; padding: 7px; left: 1232px; top: 44px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 18px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 3.30px; height: 3.30px; border: 1.10px #424856 solid"></div>
            <div style="width: 9.90px; height: 0px; border: 1.10px #424856 solid"></div>
            <div style="width: 3.30px; height: 3.30px; border: 1.10px #424856 solid"></div>
            <div style="width: 9.90px; height: 0px; border: 1.10px #424856 solid"></div>
            <div style="width: 3.30px; height: 3.30px; border: 1.10px #424856 solid"></div>
            <div style="width: 9.90px; height: 0px; border: 1.10px #424856 solid"></div>
        </div>
    </div>
    <div style="width: 1316px; height: 1150px; left: 24px; top: 96px; position: absolute; background: white; border-radius: 24px; overflow: hidden">
        <div style="width: 131px; height: 35px; left: 24px; top: 24px; position: absolute; background: #025034; border-radius: 18px">
            <div style="left: 32px; top: 7px; position: absolute; color: white; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Upload</div>
            <div style="width: 14px; height: 14px; left: 106px; top: 11px; position: absolute">
                <div style="width: 10.50px; height: 6.19px; left: 1.75px; top: 4.08px; position: absolute; background: white"></div>
            </div>
            <div style="width: 14px; height: 14px; left: 12px; top: 11px; position: absolute">
                <div style="width: 8px; height: 4px; left: 3px; top: 1.50px; position: absolute; border: 1px white solid"></div>
                <div style="width: 0px; height: 9px; left: 7px; top: 1.50px; position: absolute; border: 1px white solid"></div>
                <div style="width: 11px; height: 0px; left: 1.50px; top: 12.50px; position: absolute; border: 1px white solid"></div>
            </div>
        </div>
        <div style="width: 138px; height: 35px; left: 168px; top: 24px; position: absolute; background: #F3F4F6; border-radius: 18px">
            <div style="left: 32px; top: 7px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Create new</div>
            <div style="width: 14px; height: 14px; left: 113px; top: 11px; position: absolute">
                <div style="width: 10.50px; height: 6.19px; left: 1.75px; top: 4.08px; position: absolute; background: #171A1F"></div>
            </div>
            <div style="width: 14px; height: 14px; left: 12px; top: 11px; position: absolute">
                <div style="width: 0px; height: 10px; left: 7px; top: 2px; position: absolute; border: 1px #171A1F solid"></div>
                <div style="width: 10px; height: 0px; left: 2px; top: 7px; position: absolute; border: 1px #171A1F solid"></div>
            </div>
        </div>
        <div style="width: 36px; height: 36px; padding: 7px; left: 319px; top: 24px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 18px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 3.67px; height: 14.67px; background: #424856"></div>
            </div>
        </div>
        <div style="width: 1266px; height: 0px; left: 24px; top: 84px; position: absolute; border: 1px #DEE1E6 solid"></div>
        <div style="left: 24px; top: 108px; position: absolute; color: #323743; font-size: 20px; font-family: Encode Sans; font-weight: 600; line-height: 30px; word-wrap: break-word">Recommend</div>
        <div style="width: 228px; height: 216px; left: 24px; top: 162px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 50px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #E9FEF7; box-shadow: 0px 0px 1px rgba(233, 254, 247, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 10.40px; height: 12px; border: 0.80px #025034 solid"></div>
                        <div style="width: 4px; height: 4px; border: 0.80px #025034 solid"></div>
                        <div style="width: 1.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Media report - Nov 2023</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 276px; top: 162px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 179px; left: 24px; top: 24px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x179" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 41px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FEF9EE; box-shadow: 0px 0px 1px rgba(254, 249, 238, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 12px; height: 9.60px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 4px; height: 4.80px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #EFB034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">(Demo) TVC Concept Art...</div>
            </div>
            <div style="width: 32px; height: 32px; padding: 8px; left: 98px; top: 92px; position: absolute; background: white; border-radius: 16px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 9.60px; height: 12px; border: 0.80px #9095A1 solid"></div>
                </div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 528px; top: 162px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 90px; left: 24px; top: 24px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x90" />
            <img style="width: 180px; height: 90px; left: 24px; top: 120px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x90" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 41px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FDF2F2; box-shadow: 0px 0px 1px rgba(253, 242, 242, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 3.20px; height: 3.20px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 9.60px; height: 4.80px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 12px; height: 5.60px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 1.66px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 1.94px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 1.35px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 9.60px; height: 1.60px; border: 0.96px #DE3B40 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Rebrand 2023 - Proposal...</div>
            </div>
        </div>
        <div style="left: 24px; top: 410px; position: absolute; color: #323743; font-size: 20px; font-family: Encode Sans; font-weight: 600; line-height: 30px; word-wrap: break-word">Folders</div>
        <div style="width: 228px; height: 48px; left: 24px; top: 464px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Work Documents</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13px; left: 2.50px; top: 3.50px; position: absolute; border: 1px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 276px; top: 464px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Promotion Photosh...</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13.50px; left: 2.50px; top: 3px; position: absolute; border: 1.20px #EFB034 solid"></div>
                <div style="width: 8px; height: 5px; left: 6px; top: 9px; position: absolute; border: 1.20px #EFB034 solid"></div>
                <div style="width: 2.50px; height: 2.50px; left: 6px; top: 7.50px; position: absolute; border: 1.20px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 528px; top: 464px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Internship Program</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13px; left: 2.50px; top: 3.50px; position: absolute; border: 1px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 24px; top: 536px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Marketing Media</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 4px; height: 5px; left: 8.50px; top: 8.50px; position: absolute; border: 1.20px #EFB034 solid"></div>
                <div style="width: 15px; height: 13.50px; left: 2.50px; top: 3px; position: absolute; border: 1.20px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 276px; top: 536px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Brand Guideline</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13px; left: 2.50px; top: 3.50px; position: absolute; border: 1px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 528px; top: 536px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Financial Reports</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13px; left: 2.50px; top: 3.50px; position: absolute; border: 1px #EFB034 solid"></div>
            </div>
        </div>
        <div style="left: 24px; top: 616px; position: absolute; color: #323743; font-size: 20px; font-family: Encode Sans; font-weight: 600; line-height: 30px; word-wrap: break-word">Files</div>
        <div style="width: 185px; height: 35px; left: 1106px; top: 24px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 18px; border: 1px #F3F4F6 solid">
            <div style="left: 32px; top: 7px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Sort: Last Modified</div>
            <div style="width: 14px; height: 14px; left: 160px; top: 11px; position: absolute">
                <div style="width: 0px; height: 11px; left: 7px; top: 1.50px; position: absolute; border: 1px #171A1F solid"></div>
                <div style="width: 8px; height: 4px; left: 3px; top: 8.50px; position: absolute; border: 1px #171A1F solid"></div>
            </div>
            <div style="width: 14px; height: 14px; left: 12px; top: 11px; position: absolute">
                <div style="width: 10.50px; height: 7px; left: 1.75px; top: 3.50px; position: absolute; background: #171A1F"></div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 24px; top: 670px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 47px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #E9FEF7; box-shadow: 0px 0px 1px rgba(233, 254, 247, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 10.40px; height: 12px; border: 0.80px #025034 solid"></div>
                        <div style="width: 4px; height: 4px; border: 0.80px #025034 solid"></div>
                        <div style="width: 1.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">TVC Script - Brainstorm...</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 24px; top: 910px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 179px; left: 24px; top: 24px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x179" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 70px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FEF9EE; box-shadow: 0px 0px 1px rgba(254, 249, 238, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 12px; height: 9.60px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 4px; height: 4.80px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #EFB034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Podcast rough cut 01</div>
            </div>
            <div style="width: 32px; height: 32px; padding: 8px; left: 98px; top: 92px; position: absolute; background: white; border-radius: 16px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 9.60px; height: 12px; border: 0.80px #9095A1 solid"></div>
                </div>
            </div>
        </div>
        <div style="height: 216px; padding-top: 24px; left: 276px; top: 910px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: center; gap: 38px; display: inline-flex">
            <img style="width: 180px; height: 106px; border-radius: 12px" src="https://via.placeholder.com/180x106" />
            <div style="align-self: stretch; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 47px; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FDF2F2; box-shadow: 0px 0px 1px rgba(253, 242, 242, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 3.20px; height: 3.20px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 9.60px; height: 4.80px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 12px; height: 5.60px; border: 0.96px #DE3B40 solid"></div>
                        <div style="width: 1.66px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 1.94px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 1.35px; height: 2.28px; background: #DE3B40"></div>
                        <div style="width: 9.60px; height: 1.60px; border: 0.96px #DE3B40 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Instagram Post - Dec 20..</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 276px; top: 670px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 67px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #E9FEF7; box-shadow: 0px 0px 1px rgba(233, 254, 247, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 10.40px; height: 12px; border: 0.80px #025034 solid"></div>
                        <div style="width: 4px; height: 4px; border: 0.80px #025034 solid"></div>
                        <div style="width: 1.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Client Feedback Form</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 528px; top: 670px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 47px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #EEFDF3; box-shadow: 0px 0px 1px rgba(238, 253, 243, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 0px; height: 12px; border: 0.80px #14923E solid"></div>
                        <div style="width: 12px; height: 12px; border: 0.80px #14923E solid"></div>
                        <div style="width: 12px; height: 0px; border: 0.80px #14923E solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Ads Performance Budget</div>
            </div>
        </div>
        <div style="height: 216px; padding-top: 33px; left: 528px; top: 910px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: center; gap: 27px; display: inline-flex">
            <img style="width: 108px; height: 108px" src="https://via.placeholder.com/108x108" />
            <div style="align-self: stretch; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 122px; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #F1F8FD; box-shadow: 0px 0px 1px rgba(241, 248, 253, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 3.20px; height: 3.20px; border: 0.96px #125D95 solid"></div>
                        <div style="width: 9.60px; height: 4.80px; border: 0.96px #125D95 solid"></div>
                        <div style="width: 12px; height: 5.60px; border: 0.96px #125D95 solid"></div>
                        <div style="width: 1.64px; height: 2.32px; background: #125D95"></div>
                        <div style="width: 1.68px; height: 2.28px; background: #125D95"></div>
                        <div style="width: 1.92px; height: 2.28px; background: #125D95"></div>
                        <div style="width: 9.60px; height: 1.60px; border: 0.96px #125D95 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Key Visuals</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 780px; top: 910px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 179px; left: 24px; top: 24px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x179" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 41px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FEF9EE; box-shadow: 0px 0px 1px rgba(254, 249, 238, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 12px; height: 9.60px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 4px; height: 4.80px; border: 0.80px #EFB034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #EFB034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">(Demo) TVC Concept Art...</div>
            </div>
            <div style="width: 32px; height: 32px; padding: 8px; left: 98px; top: 92px; position: absolute; background: white; border-radius: 16px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 9.60px; height: 12px; border: 0.80px #9095A1 solid"></div>
                </div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 780px; top: 162px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 63px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #E9FEF7; box-shadow: 0px 0px 1px rgba(233, 254, 247, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 10.40px; height: 12px; border: 0.80px #025034 solid"></div>
                        <div style="width: 4px; height: 4px; border: 0.80px #025034 solid"></div>
                        <div style="width: 1.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Freelancing Contract...</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 1032px; top: 162px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 67px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #E9FEF7; box-shadow: 0px 0px 1px rgba(233, 254, 247, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 10.40px; height: 12px; border: 0.80px #025034 solid"></div>
                        <div style="width: 4px; height: 4px; border: 0.80px #025034 solid"></div>
                        <div style="width: 1.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                        <div style="width: 5.60px; height: 0px; border: 0.80px #025034 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Client Feedback Form</div>
            </div>
        </div>
        <div style="width: 24px; height: 24px; left: 1212px; top: 114px; position: absolute">
            <div style="width: 10.61px; height: 18px; left: 7px; top: 3px; position: absolute; background: #171A1F"></div>
        </div>
        <div style="width: 228px; height: 216px; left: 780px; top: 670px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 179px; left: 24px; top: 24px; position: absolute; border-radius: 12px" src="https://via.placeholder.com/180x179" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 105px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(243, 244, 246, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 12px; height: 12px; border: 0.80px #6F7787 solid"></div>
                        <div style="width: 1.60px; height: 1.60px; background: #6F7787"></div>
                        <div style="width: 8.80px; height: 4.80px; border: 0.80px #6F7787 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Photoshoot 01</div>
            </div>
        </div>
        <div style="height: 216px; padding-top: 36px; left: 1032px; top: 670px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: center; gap: 24px; display: inline-flex">
            <img style="width: 108px; height: 108px" src="https://via.placeholder.com/108x108" />
            <div style="align-self: stretch; height: 48px; padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 79px; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #FEF9EE; box-shadow: 0px 0px 1px rgba(254, 249, 238, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 3.20px; height: 3.20px; border: 0.96px #D29211 solid"></div>
                        <div style="width: 9.60px; height: 4.80px; border: 0.96px #D29211 solid"></div>
                        <div style="width: 12px; height: 5.60px; border: 0.96px #D29211 solid"></div>
                        <div style="width: 1.68px; height: 2.28px; background: #D29211"></div>
                        <div style="width: 1.64px; height: 2.28px; background: #D29211"></div>
                        <div style="width: 1.72px; height: 2.28px; background: #D29211"></div>
                        <div style="width: 2.28px; height: 2.28px; background: #D29211"></div>
                        <div style="width: 9.60px; height: 1.60px; border: 0.96px #D29211 solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Pitch deck - Draft...</div>
            </div>
        </div>
        <div style="width: 228px; height: 216px; left: 1032px; top: 910px; position: absolute; background: #F3F4F6; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px; overflow: hidden">
            <img style="width: 180px; height: 254px; left: 24px; top: 24px; position: absolute" src="https://via.placeholder.com/180x254" />
            <div style="padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 67px; left: 0px; top: 168px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="width: 24px; height: 24px; padding: 4px; background: #EEFDF3; box-shadow: 0px 0px 1px rgba(238, 253, 243, 0.15); border-radius: 12px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 16px; height: 16px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 0px; height: 12px; border: 0.80px #14923E solid"></div>
                        <div style="width: 12px; height: 12px; border: 0.80px #14923E solid"></div>
                        <div style="width: 12px; height: 0px; border: 0.80px #14923E solid"></div>
                    </div>
                </div>
                <div style="color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Invoice 15658901.xlsx</div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 780px; top: 464px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Company Trip</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13.50px; left: 2.50px; top: 3px; position: absolute; border: 1.20px #EFB034 solid"></div>
                <div style="width: 8px; height: 5px; left: 6px; top: 9px; position: absolute; border: 1.20px #EFB034 solid"></div>
                <div style="width: 2.50px; height: 2.50px; left: 6px; top: 7.50px; position: absolute; border: 1.20px #EFB034 solid"></div>
            </div>
        </div>
        <div style="width: 228px; height: 48px; left: 1032px; top: 464px; position: absolute; background: white; box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.15); border-radius: 12px">
            <div style="left: 44px; top: 13px; position: absolute; color: #323743; font-size: 14px; font-family: Encode Sans; font-weight: 500; line-height: 22px; word-wrap: break-word">Porfolio</div>
            <div style="width: 20px; height: 20px; left: 196px; top: 14px; position: absolute">
                <div style="width: 3.33px; height: 13.33px; left: 8.33px; top: 3.33px; position: absolute; background: #9095A1"></div>
            </div>
            <div style="width: 20px; height: 20px; left: 12px; top: 14px; position: absolute">
                <div style="width: 15px; height: 13px; left: 2.50px; top: 3.50px; position: absolute; border: 1px #EFB034 solid"></div>
            </div>
        </div>
    </div>
    <div style="width: 36px; height: 36px; padding: 7px; left: 1280px; top: 44px; position: absolute; background: #DEE1E6; border-radius: 18px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 22px; height: 22px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 16.50px; height: 16.50px; border: 1.10px #424856 solid"></div>
            <div style="width: 2.20px; height: 2.20px; background: #424856"></div>
            <div style="width: 0px; height: 6.05px; border: 1.10px #424856 solid"></div>
        </div>
    </div>
</div>