
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<div style="width: 862px; height: 1184px; position: relative; background: white; box-shadow: 0px 3px 6px rgba(18, 15, 40, 0.12)">
    <div style="width: 91px; height: 91px; left: 72px; top: 210px; position: absolute; background: #B3DCF6; border-radius: 46px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <img style="width: 91px; height: 91px" src="https://via.placeholder.com/91x91" />
    </div>
    <div style="width: 572px; padding-top: 12px; padding-bottom: 12px; padding-left: 232.50px; padding-right: 247.50px; left: 72px; top: 1078px; position: absolute; background: #187FBF; border-radius: 12px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: white; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Save changes</div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 467px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Email</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 429px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">email@gmail.com</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 713px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Street Address</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 420px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Sesame Street 000</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 591px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Phone number</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 438px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">+000 111 222 333</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 365px; top: 960px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Country</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 166px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">United States</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 836px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">ZIP code</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 225px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">1234</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 346px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">First name</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 216px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Nicola</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 365px; top: 346px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">Last name</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 227px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">Rich</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 72px; top: 960px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">State</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 190px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">New York</div>
        </div>
    </div>
    <div style="height: 81px; padding-bottom: 1px; padding-right: 1px; left: 365px; top: 838px; position: absolute; background: rgba(0, 0, 0, 0); flex-direction: column; justify-content: center; align-items: flex-start; gap: 1px; display: inline-flex">
        <div style="color: #424856; font-size: 18px; font-family: Encode Sans; font-weight: 700; line-height: 28px; word-wrap: break-word">City</div>
        <div style="align-self: stretch; height: 51px; padding-top: 12px; padding-bottom: 11px; padding-left: 20px; padding-right: 227px; background: rgba(0, 0, 0, 0); border-radius: 12px; border: 1px #9095A1 solid; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="color: #171A1F; font-size: 18px; font-family: Encode Sans; font-weight: 400; line-height: 28px; word-wrap: break-word">NYC</div>
        </div>
    </div>
    <div style="width: 20px; height: 20px; left: 529px; top: 128px; position: absolute">
        <div style="width: 13px; height: 13px; left: 2.50px; top: 4.50px; position: absolute; border: 1px #171A1F solid"></div>
        <div style="width: 5px; height: 5px; left: 12.50px; top: 2.50px; position: absolute; border: 1px #171A1F solid"></div>
    </div>
    <div style="width: 20px; height: 20px; left: 80px; top: 129px; position: absolute">
        <div style="width: 12px; height: 10px; left: 5.50px; top: 2.50px; position: absolute; border: 1px #171A1F solid"></div>
        <div style="width: 15px; height: 13px; left: 2.50px; top: 4.50px; position: absolute; border: 1px #171A1F solid"></div>
    </div>
    <div style="left: 72px; top: 45px; position: absolute; color: #171A1F; font-size: 22px; font-family: Epilogue; font-weight: 700; line-height: 34px; word-wrap: break-word">Account Settings</div>
    <div style="left: 280px; top: 128px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Password and security</div>
    <div style="left: 557px; top: 127.50px; position: absolute; color: #171A1F; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 22px; word-wrap: break-word">Notifications</div>
    <div style="left: 117px; top: 127.50px; position: absolute; color: #171A1F; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Personal info</div>
    <div style="width: 20px; height: 20px; left: 252px; top: 129px; position: absolute">
        <div style="width: 15px; height: 12px; left: 2.50px; top: 2.50px; position: absolute; border: 1px #171A1F solid"></div>
        <div style="width: 4.58px; height: 1.50px; left: 7.71px; top: 16px; position: absolute; border: 1px #171A1F solid"></div>
    </div>
    <div style="left: 211px; top: 241px; position: absolute; color: #565D6D; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Your photo should be in PNG or JPG format</div>
    <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 8px; padding-right: 18px; left: 211px; top: 269px; position: absolute; background: white; border-radius: 9px; overflow: hidden; border: 1px #187FBF solid; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: #187FBF; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Choose image</div>
    </div>
    <div style="padding-top: 6px; padding-bottom: 6px; padding-left: 8px; padding-right: 13px; left: 308px; top: 269px; position: absolute; background: rgba(0, 0, 0, 0); border-radius: 9px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="color: #9095A1; font-size: 12px; font-family: Encode Sans; font-weight: 400; line-height: 20px; word-wrap: break-word">Remove</div>
    </div>
    <div style="left: 211px; top: 211px; position: absolute; color: #171A1F; font-size: 14px; font-family: Encode Sans; font-weight: 400; line-height: 22px; word-wrap: break-word">Upload your photo</div>
</div>